# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# 虚拟环境
.venv/
venv/
env/

# 数据库
*.db
*.sqlite3

# 日志
*.log
gxlf_sim_system/output/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Node
node_modules/
dist/

# Tango
*.tango_db
tangodb/

# 测试缓存
.pytest_cache/
.coverage
htmlcov/
